body{
    /* display: flex;
    justify-content: center; */
    font-size: 40px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 100px;
    color: rgb(222, 198, 169);
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    padding-bottom: 10px;
}
.left-flex{
    display: flex;
    justify-content: end;
    padding: 30px 60px;
    font-size: 55px;
    /* color: rgb(222, 198, 169); */
}
.right-flex{
    padding: 30px 60px;
}
.buttons{
    max-width: fit-content;
    display: grid;
    grid-template-columns: repeat(1fr,4);
    grid-template-columns: repeat(4,1fr);
}
.btn{
    font-size: 50px;
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border-color: transparent;
    color: rgb(138, 16, 85);
    background-color: rgba(245, 234, 221, 0.941);
    margin: 7px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}